body {
    background-color:#414141;
  }

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
/* color input desactivado */
  .form__field {
    font-family: inherit;
    width: 200%;
    border: 0;
    border-bottom: 2px solid #fcfcfc;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
/* color y tamaño letra desactivado */
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #969696;
  }
  
  /* color input activo, con gradiente */
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #FF5DA2, #690072);
    border-image-slice: 1;
  }

  /* fuente input activado */
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #c916cf;
    font-weight: 700;
  }
  
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  /* boton color, fuente */
  .button{
    position: relative;
    background-color:#FF5DA2;
    border-radius: 4em;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    margin:50px 230px;
    max-width: 100px;
    -webkit-transition-duration: 0.4s; /* Safari */
  }

  .button:hover {
    transition-duration: 0.1s;
    background-color: #c916cf;
  }
  
  /* efecto boton */
  .button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px rgb(186, 9, 209);
  }
  
  .button:active:after {
    box-shadow: 0 0 0 0 rgb(184, 16, 184);
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .button:active {
    top: 1px;
  }

/* otro boton */
  .button1{
    position: relative;
    background-color:#fd0505;
    border-radius: 4em;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    margin:50px 230px;
    max-width: 100px;
    -webkit-transition-duration: 0.4s; /* Safari */
  }

  .button1:hover {
    transition-duration: 0.1s;
    background-color: #ff9100;
  }
  
  .button1:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px rgb(230, 65, 0);
  }
  
  .button1:active:after {
    box-shadow: 0 0 0 0 rgb(255, 153, 0);
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .button1:active {
    top: 1px;
  }


  /* divs para posicionar elementos */
  .container {
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
  }

  .supercontainer {
  display: flex;
  flex-direction: row;
  }

  .otrocontainer {
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    width: 50%;
  }

  .disable {
    display: none;
  }

  .containerinput {
    margin-top: 50px;
  }

  .letras {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: whitesmoke;
  } 

  .letras2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: whitesmoke;
  } 

  .letras3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: whitesmoke;
    margin: 60px;
  } 

  .fondotexto {
    background-color: black;
  }

  /* fuente, color y demas del accordion */
  button.accordion {
    background-color: #6d6c6d;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: black;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

/* accordion activo color */
button.accordion.active, button.accordion:hover {
    background-color: #9079aa;
  }

button.accordion:after {
    content: '\02795';
    font-size: 20px;
    color: #494949;
    float: right;
    margin-left: 5px;
  }

button.accordion.active:after {
    content: "\2796";
  }

/* color del accordion donde va la info */
div.panel {
    padding: 0 18px;
    background-color: #838383;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
  }

div.panel.show {
    opacity: 1;
    max-height: 800px;
  }

